@import "./_normalize.scss";
@import "./_vars.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  color: var(--color-off-black);
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

body::before {
  background: linear-gradient(
    180deg,
    rgba(227, 242, 255, 0.78) 0%,
    rgba(227, 242, 255, 0) 100%
  );
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 40rem;
  width: 100%;
  z-index: -1;
}

main {
  max-width: 100vw;
  overflow: hidden;
  position: relative;
}
